.wrapper {
    display: flex; 
    justify-content: space-around;
}

.dashboard {
    width: 70%;
}
.userprofile {
    width: 25%;
}

.userprofilebtn {
    display: none;
}
@media (max-width: 860px){
    .dashboard {
        width: 90%;
    }
    .userprofile {
        display: none;
    }
    .userprofilebtn {
        display: block;
        position: fixed;
        padding-top: 10px;
        right: -20px;
        z-index: 100;
        transition: right 200ms ease-in-out;
    }
    .userprofilebtn:hover {
        right: 0;
    }
}

@media (max-width: 670px){
    .dashboard {
        width: 100%;
    }
    .wrapper {
        padding: 0 0;
    }
}