.sidebar{
    width: 372px;
    height: 100%;
    background-color: red;
}
@media (max-width: 760px){
    .sidebar {
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: red;
    }
}