.threelayout {
    width: 100%;
    height: calc(100vh - 45px);
    display: flex;
    flex-direction: column;
}

.twolayout {
    flex-grow: 1;
    display: flex;
    overflow: auto;
}

.divider {
    width: 1px;
    background-color: rgba(0,0,0,0.3);
}

.sidebar {
    min-width: 372px;
    width: 372px;
}
@media (max-width: 760px) {
    .sidebar {
        width: 100%;
    }
}

.mainsection {
    flex-grow: 1;
    overflow: auto;
    background-color: #e7e7e7;
}