.threelayout {
    width: 100%;
    height: 100vh;
    padding-top: 45px;
    display: flex;
    flex-direction: column;
}

.twolayout {
    flex-grow: 1;
    display: flex;
}

.divider {
    width: 1px;
    background-color: rgba(0,0,0,0.3);
}

.sidebar {
    width: 372px;
}
@media (max-width: 760px) {
    .sidebar {
        width: 100%;
    }
}

.mainsection {
    flex-grow: 1;
}